<body>
    <div class="container pt-2 pb-5">
        <div class="row"> 
            <div class="col-5 mx-auto login-form mt-4 p-5 text-light">
                <p class="heading text-center mb-5">Login</p>
                <form #data="ngForm" (submit)="loginUser(data)" method="post">
                    <div class="mb-5">
                        <input type="email" class="form-control" id="username" name="username" [(ngModel)]="login.username"
                        placeholder="Username">
                    </div>
                    <div class="mb-5">
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="login.password"
                        placeholder="Password"><br>
                        <a href="forgotPassword">Forgot Password ?</a>
                    </div>
                    <button type="submit" class="btn btn-login px-4">SIGN IN</button>
                    <div class="mt-4">
                    <p>Don't have account ? <a href="sign-up">Sign up</a></p>
                    </div>
                </form>
        </div>
        </div>
    </div>
</body>