.image{
    background-image: url("src/app/images/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

body{
    background-color: rgb(22, 38, 74);
    font-family: 'Roboto', sans-serif;
}

.login-form{
    margin-top: 70px;
    border-radius: 10px;
    box-shadow:  0 10px 30px black;
    background-color: rgb(0, 10, 29);
}

.heading{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.container{
    height: 100vh;
    width: 100%;
}

input{
    background: rgb(0, 10, 29);
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Roboto', sans-serif; 
}

input:focus{
    background: rgb(0, 10, 29);
    color: white;
    border-bottom: 2px solid white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px; 
}

::placeholder {
    color: rgba(245, 245, 245, 0.576);
    letter-spacing: 2px;
  }

.btn-login{
    color: rgb(0, 10, 29);
    background: rgb(92, 182, 255);
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(92, 182, 255);
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgb(92, 182, 255);
}

a{
    color: rgb(122, 192, 249);
}