<body>
    <div class="container pt-2">
        <div class="row"> 
            <div class="col-6 mx-auto login-form p-5 pt-1 text-light">
                <p class="heading text-center mt-5 mb-5">Forgot Password</p>
                <form #data="ngForm" (submit)="forgotPassword(data)" method="post" class="">
                    <div class="mb-5">
                        <i class="fa-solid fa-user"></i>
                        <input type="email" class="form-control" id="username" name="username" [(ngModel)]="data.username"
                        placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-login px-4">SUBMIT</button>
                </form>
        </div>
        </div>
    </div>
</body>